.sword{
  width:500px;
  height:400px;
  position:relative;
  top: 50px;
  left: 40px;
}

.main{
   width: 380px;
   height: 380px;
   background:black;
   opacity: 1;
   border-radius: 380px;
   position: absolute;
   top: -47px;
   left: 17px; 
   z-index:1;
}

.handle {
       width: 100px;
       height: 20px;

     background: grey;
     border-radius: 5px;
    -webkit-transform: translate(100px) rotate(-40deg);
    -webkit-transform-origin: 60% 100%;

    -o-transform:translate(100px) rotate(-40deg); 
    -o-transform-origin:60% 100%;

    transform: translate(100px) rotate(-40deg);
    transform-origin: 60% 100%;
  
    z-index: 2;
    position: absolute;
    top:210px;
    right: 430px;
  
  
}

.diamond-1 { 
  
   -webkit-transform: translate(100px) rotate(90deg);
  -webkit-transform-origin: 60% 100%;
  
  -o-transform:translate(100px) rotate(50deg); 
  -o-transform-origin:60% 100%;
  
  transform: translate(100px) rotate(50deg);
  transform-origin: 60% 100%; 
    
  
  width: 0; 
  height: 0; 
  border: 7px solid transparent; 
  border-bottom: 16px solid black; 

 } 
 
 
.diamond-1:after { 
 content: ''; 
 position: absolute; 
 left: -10px; 
 top: 20px; 
 width: 0; 
 height: 0; 
 border: 7px solid transparent; 
 border-top: 16px solid black; 
 }





.handle-grip {
       width: 50px;
       height: 20px;

     background: grey;
  border-radius: 5px;
    -webkit-transform: translate(100px) rotate(-40deg);
    -webkit-transform-origin: 60% 100%;

    -o-transform:translate(100px) rotate(-40deg); 
    -o-transform-origin:60% 100%;

    transform: translate(100px) rotate(-40deg);
    transform-origin: 60% 100%;
  
    z-index: 2;
    position: absolute;
    top:510px;
    right: 430px;
  
  
}



.handle-cover {
       width: 28px;
       height: 10px;

     background: grey;
  border-radius: 5px;
    -webkit-transform: translate(100px) rotate(50deg);
    -webkit-transform-origin: 60% 100%;

    -o-transform:translate(100px) rotate(50deg); 
    -o-transform-origin:60% 100%;

    transform: translate(100px) rotate(50deg);
    transform-origin: 60% 100%;
  
    z-index: 3;
    position: absolute;
    top:193px;

    right: 438px;
    border: solid 1px black;
  
  
}

.switch-white {

    -webkit-transform: translate(100px) rotate(50deg);
    -webkit-transform-origin: 60% 100%;

    -o-transform:translate(100px) rotate(50deg); 
    -o-transform-origin:60% 100%;

    transform: translate(100px) rotate(50deg);
    transform-origin: 60% 100%;

    z-index: 2;
    position: absolute;
    top:   203px;
    right: 460px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: white;
    border: solid 1px black

  
}


.switch-black {

    -webkit-transform: translate(100px) rotate(50deg);
    -webkit-transform-origin: 60% 100%;

    -o-transform:translate(100px) rotate(50deg); 
    -o-transform-origin:60% 100%;

    transform: translate(100px) rotate(50deg);
    transform-origin: 60% 100%;

    z-index: 2;
    position: absolute;
    top:   212px;
    right: 470px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: black;
    border: solid 1px white

  
}










.blade {

    border-radius: 5px 10px 10px 5px;
    -webkit-transform: translate(100px) rotate(-40deg);
    -webkit-transform-origin: 60% 100%;

    -o-transform:translate(100px) rotate(-40deg); 
    -o-transform-origin:60% 100%;

    transform: translate(100px) rotate(-40deg);
    transform-origin: 60% 100%;
  
    -moz-box-shadow: 3px 3px 3px 3px white;
    -webkit-box-shadow: 6px 6px 6px 6px white;
    box-shadow: 0 0 6px 2px white;

 
    width: 250px;
    height: 15px;
    background: purple;  
    z-index: 1;
    position: absolute;
    top:92px;
    right: 227px;
  
  
}
