/* General Changes */
  .center { text-align: center; }
  
  li { list-style-type: none; }
  
  body {
    background-color: #964b4b;
    overflow-x: hidden;
  }


  /* gets rid of moz border outline on click */
  :focus {outline:none;}
  ::-moz-focus-inner {border:0;}

  a { cursor:pointer; }




/* Header */
  .header-box { border-bottom: solid 2px #707070; }

  .title { 
    margin-bottom: 10px; 

    }
  
  .quote { 
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 5px #fff;
    font-weight: bold;
  }

  .header { background-image: url("../images/stripe1.png"); }

/* Intro */
  .intro { margin-top: 35%; }

  .heavy { font-weight: 600; }  



/* Skills */
  .skills-box {margin-top:12%;}
  
  li {font-size: 16px;}
    
  li a:hover {text-decoration:underline;}


/* Icons */

  .icon-title {margin-bottom: 25%;}
  .slideshow {max-height: 65%;}

  

/* Read Alt */


  .book-navigation a {

    color: #964b4b;

  }

  .panel {
    margin-top: 20px;
    background-color: transparent;
    color: white;
  }

  .back-to-book-navigation-button {
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;

  }

  .history-books-selection a {
    margin-top: 35px;
    border-right: 1px solid white;
  }

  .philosophy-books-selection a {
    margin-top: 35px;
    border-right: 1px solid white
  }

  .biography-books-selection a {
    margin-top: 35px;
    border-right: 1px solid white
  }
  .literature-books-selection a {
    margin-top: 35px;
    border-right: 1px solid white
  }

  .end-of-line {
    border: none !important;
  }




/* MISC */
  .misc-box {margin-top: 12%;}

  li {font-size: 16px;}
    
  li a:hover {text-decoration:underline;}

  .more {
    margin-top: 80px;
    font-size: 35px;
    color: white;
  }





/* Nav Bar */
  dd a { 
    padding-left: 29px;
    padding-right: 29px;
    font-weight:bold;

    /* This sets up the blur effect on each nav link */    
    text-shadow: 0px 0px 5px #fff;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  /* Continuation of blur effect */
  dd:hover a { 
      background: none repeat scroll 0 0 #964b4b;
      color: #FFFFFF;
      cursor: pointer;
      padding-top: 3px; 
      padding-bottom: 3px;
      text-shadow: 0px 0px 1px #fff;
  }
    


/* Icon */



/* Footer */
  
  html, body {
    height: 100%;
  }
  
  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
  }
  
  .footer, .push {
    height: 100px; /* .push must be the same height as .footer */
  }